@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: #e5e5e5;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 16000px;
    margin: 0 auto;
    padding: 0 30px;
}